body {
	font-family:$font-a;
	margin:0;
}
#primary.page .container {
		padding-top:200px;
}
#page {
	font-size: 18px;
	color:     $color-f;
	ul {
		padding: 0;
	}
	
	p, li {
		color:#2c2c2c;
		font-weight: 200;
	}
	h1{
		color:#fff;
		font-size: 40px;
		font-family: 'Cabin', sans-serif;	
	    margin-top: 1em;
		margin-bottom: 1em;

	}
	h2 {
		color:#1B9B05;
		font-size: 30px;
		font-family: 'Cabin', sans-serif;
		text-align:center;
	}
	h3 {
		font-family: 'Cabin', sans-serif;
		color:white;
	    margin-bottom: 1em;
		margin-top: 0.5em;		
	}
	h4 {
		color:white;
	    margin-bottom: 1em;
		margin-top: 0.5em;
	}
	IFRAME {
		margin-bottom:2em;
	}
	figcaption {
		color:#337CA0;
		font-size:0.7em;
	}
	a {
		color: #1B9B05;
		&:hover {
			color:           #337CA0;
			text-decoration: none;
		}
	}
	.panel {
		background: rgba(255,255,255,0.7);
		margin:2em 1em;
		padding:1em;
			transform: rotate(0deg);		
		transition:          all 0.25s ease;
		position:relative;
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
		box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
		h2 {
			color:#337CA0;
		}
		a  {
			text-align:right;
			float:right;
		}
		p {
			min-height: 250px;
		}
		&:hover {

			transform: rotate(4deg);
			transition:          all 0.25s ease;
		}
	}
	.footnote {
		font-size: smaller;
	    text-align: center;
	    margin: 1em 1em 2em 1em;
	    border: 1px solid teal;
	    padding: 1em;
	}
	.no-margins{
		margin: 0;
	}
	.maintext {
		background: rgba(0,0,0,0.3);
	    padding: 0 2em;
	    p,ul, ul li,ol, ol li{
			color:#fff;
			font-family: 'Cabin', sans-serif;
		}
	}
	.abouttext {
		background: rgba(255,255,255,0.7);
		margin:2em 1em;
		padding:1em;
		position:relative;
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
		box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
		a {
			text-align:right;
			float:right;
		}
	}
	@media only screen and (max-width: $bp-mobile) {
		h1 {
			font-size: 50px
		}
	}
	.feet {
		width: 31px;
		margin-right: 10px;
	}
	hr {
    	border-top: 1px solid #337CA0;
    	margin:1em 0;
	}
}
a i.fa-volume-mute {
	color:#FFF;
	float:right;
	font-size:2em;
	padding:1em;
}
