header#masthead {
	
	background-color: rgba(255,255,255,0.8);
	position:         fixed;
	z-index:          1000;
	width:            100%;
	
	@media only screen and (min-width: $bp-tablet) {
		padding:0
	}
	
	.menu {
		text-align: right;
	}
	
	nav {
		
		@media only screen and (min-width: $bp-tablet) {
			padding: 0;
		}
		
		
		img {
			width: 100px;
		    height: auto;
		    max-width: 100px;
		    margin: 10px;
		}

		
		ul {
			list-style: none;
			margin:     0 2em 0 0;
			padding:    0;
			display:    inline-block;
			
			li {
				text-decoration: none;
				display:         inline;
				position:        relative;
				
				a {
					display:       inline-block;
					padding:       10px 20px;
					color:         black;
					border-bottom: solid 2px transparent;
					
					&:hover{
						color:#337CA0;
					}
				}
				
				&.current-menu-item > a, &:hover > a, &.current-page-parent > a {
					text-decoration: none;
					border-color:    #337CA0;
					transition:      all 0.25s ease;
				}	
				&.cta {
					a {
						border:     solid 2px #337CA0;
						background: transparent;
						
						&:hover {
							background: white;
							color:      $color-b;
						}
					}
				}
			}
		}
	}
	
	
	li.menu-item-has-children {
		
		&:after {
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content:     "\f0dd";
			color:       white;
			position:    absolute;
			right:       8px;
			top:         -5px;
		}
		
		ul.sub-menu {
			position:       absolute;
			left:           0;
			top:            34px;
			opacity:        0;
			background-color: rgba(255,255,255,0);
			overflow:       hidden;
			transition:     all .25s ease;
			width:          200%;
			pointer-events: none;
			
			li {
				display:    block;
				text-align: left;
				
				a {
					padding-left: 0;
					margin-left:  20px;
					opacity:1;
				}
			}
			
			li:first-of-type {
				padding-top: 10px;
			}
		}
		
		&:hover ul.sub-menu {
			background-color: rgba(255,255,255,0.8);
			opacity:0.8;
			pointer-events: all;
		}
	}
	
	&.scrolled {
		.sub-menu {
			background-color: rgba(255,255,255,0.8);
			border-top:       solid 2px white;
		}
	}
	
	@media only screen and (max-width: $bp-tablet) {
		text-align: center;
		padding-top: 20px;
		
		nav img{
			width: 90%;
			float: left;
			margin-top: 20px;
		}
		.fa-volume-mute {
			display:none;
		}
		.menu {
			text-align: center;
			
			ul li a {
				padding: 10px;
			}
			
			li.menu-item-has-children {
				&:after {
					right: 0;
				}
				
				ul.sub-menu {
					li {
						a {
							padding-left: 0;
							margin-left:  0;
						}
					}
				}
			}
		}
	}
}
header#masthead  nav  #mobile-menu-wrapper {
	ul li a {
		color:white;
	}
}
.current-page-ancestor > a, .current-page-ancestor:hover > a, .current-page-ancestor > a {
	text-decoration: none;
	border-color:    #337CA0;
	transition:      all 0.25s ease;
}	
header#masthead nav ul li.menu-item-4297,header#masthead nav ul li.menu-item-4329 {
	padding:10px;
	background:white;
	border-radius:50px;
	color:#1b9b05;
	border:1px solid #1b9b05; 
	&:hover  {
		color:white;
		background:#1b9b05;
	}
	&:hover a {
		border-bottom:0!important;
		color:white;
	}
	.current-menu-item > a {
			border-color:red;
	}
	a {
		color:#1b9b05;
		font-weight:500;
		&:hover {
			border-bottom:0;
			color:white;
		}
	}
}
header#masthead nav ul li.menu-item-4297.current-menu-item,header#masthead nav ul li.menu-item-4329.current-menu-item  {
	background:#1b9b05;
	border:1px solid #1b9b05;
	a {
		border-color:transparent;
		color:white;
	}
}
