#page button, #page input[type="submit"], #page .wp-block-button {
	border:      none;
	box-shadow:  none;
	text-shadow: none;
	padding:     4px;
	color:       white;
	margin: 0 auto 1em auto;
	a {
		border:     solid 2px white;
		transition: all .25s ease;
	    background-color: #1B9B05 ;
	    color:white;	
		&:hover {
			background: #337ca0 !important;
			color:            white;
		}
	}
}
input[type="submit"] {
	background: $color-e;
	border: solid 2px $color-e;
	
	&:hover {
		background: darken($color-e, 2%);
	}
	
	&:active {
		background: darken($color-e, 3%);
	}
}

@media only screen and (max-width: $bp-mobile){
	.wp-block-button{
		text-align: center;
	}
}