/* [ VENDOR ] */
// @import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
/* [ FONTS ] */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Poiret+One');
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');

/* [ VARS ] */

$font-a: 'Cabin', sans-serif;
$font-b: 'Raleway', sans-serif;

$color-a: #141414;
$color-b: #142631;
$color-c: #ebebeb;
$color-d: #68c4eb;
$color-e: #B72F53;
$color-f: #2c2c2c; // Paragraph Text

$shadow-a: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

$bp-tablet: 1200px;
$bp-mobile: 767px;

/* [ IMPORTS ] */

@import "layout/bootstrap";
@import "pages/bootstrap";
@import "mixins/bootstrap";
@import "modules/bootstrap";
@import "vendor/bootstrap";
